<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link id="page-css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div>
    This is title
</div>
<div id="content-wrapper">
    This is page
</div>
</body>
<script type="application/javascript" src="/static/js/libs/jquery-3.2.1.min.js"></script>
<script type="application/javascript" src="/static/js/libs/common.js"></script>
<script type="application/javascript" src="/static/js/navigation.js"></script>
<script type="application/javascript" src="/static/js/index.js"></script>
<script id="page-js" type="application/javascript"></script>
</html>